/* Default styles for mobile devices */
.archived-habits {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
} 
  
  /* Styles for tablets (portrait) and up */
  @media (min-width: 768px) {
    .archived-habits {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    } 
  }
  
  /* Styles for laptops and up */
  @media screen and (min-width: 1024px) {
    .archived-habits {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    } 
  }