/* Default styles for mobile devices */
.individual-habit-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styles for tablets (portrait) and up */
@media (min-width: 768px) {
  .individual-habit-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Styles for laptops and up */
@media screen and (min-width: 1024px) {
  .individual-habit-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
